<!DOCTYPE html>
<html>

<head>
    <title>Protein - KYK Hizmet Değerlendirme</title>
    <link rel="icon" href="/img/Tfavicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="text-align: center; margin-top: 50px;">Komite Oylamasının Sonlanmasına</h1>
                <h2 style="text-align: center; margin-top: 55px;" id="demo"></h2>
            </div>
        </div>
    </div>
    <div class="container-fluid"  style="width: 18rem;">
        <div class="row" style="margin-bottom: 400px;">
            <div class="col-lg-6">

            <p style="text-align: center;">Komite Üyesi Olmaya Hak Kazananlar</p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Semih Şahin</li>
                        <li class="list-group-item">Ercan Öz</li>
                        <li class="list-group-item">Melih Karakaya</li>
                        <li class="list-group-item">Furkan Deniz</li>
                        <li class="list-group-item">Fatih Çelik</li>
                        <li class="list-group-item">Serdar Sargın</li>
                    </ul>
                </div>
                </div>
                <div class="col-lg-6">
                    <p style="text-align: center;">Komite Üyeligine Başvuranlar</p>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Ercan Öz</li>
                        <li class="list-group-item">Serdar Sargın</li>
                        <li class="list-group-item">Furkan Deniz</li>
                    </ul>
                </div>
                </div>
            </div>
    </div>

    <div class="row">
            {{>footer}}
    </div>




    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("May 23, 2022 00:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>