<!DOCTYPE html>
<html>

<head>
    <title>Protein - KYK Hizmet Değerlendirme</title>
    <link rel="icon" href="/img/Tfavicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                <img style="width: 10%; text-align: right;" class="mt-3" src="/img/logo2.png">
            </div>
            <div class="col-lg-12">

                <div class="card" style="align-items: center; border: 2px solid;">
                    <p>Kategori Seçiniz:</p>
                    <form id="suggestion-form">
                        <div style="align-items: center; display: flex;">
                            <input type="radio" id="yemek" name="category" value="YEMEK" description="1">
                            <label for="yemek" style=" margin-right: 50px;">Yemekhane</label><br>
                            <input type="radio" id="temizlik" name="category" value="TEMIZLIK" description="2">
                            <label for="temizlik" style=" margin-right: 50px;">Temizlik</label><br>
                            <input type="radio" id="sosyal" name="category" value="SOSYAL" description="3">
                            <label for="sosyal" style=" margin-right:50px;">Sosyal Faaliyetler</label>
                            <input type="radio" id="diger" name="category" value="DIGER" description="4">
                            <label for="diger" style=" margin-right:50px;">Diger</label>
                        </div>
                        <label style="text-align: center;" class="mt-3" for="gorus">Öneriniz:</label>
                        <div class="mt-3">
                            <textarea id="gorus" name="comment" rows="4" cols="50"></textarea>
                        </div>
                        <div class="mt-3">
                            <button type="submit" style="text-align: center; width: 150px;"
                                class="btn1 mt-3 mb-3 p-2">Gönder</button>
                        </div>
                    </form>
                    



                </div>


            </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="margin-top: 17%;">
            {{>footer}}
        </div>
    </div>

    <script>
        const form = document.getElementById('suggestion-form')
        form.addEventListener('submit', getSuggestion)

        async function getSuggestion(event) {
            event.preventDefault()

            let category
            let ctg = document.getElementsByName('category')
            for(i = 0; i < ctg.length; i++) {
                if(ctg[i].checked)
                category = ctg[i].value
            }

            try {
                const result = await fetch('/suggest', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        category,
                        //stars,
                        //comment
                    })
                }).then((res) => res.json())


                if (result.status === 'ok') {
                    console.log(result.review)
                    alert('Öneri alındı!')

                } else {
                    alert(result.error)
                }
            } catch (e) {
                console.log('error', e)
            }
            
        }

    </script>

    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>